
<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>  
    <h1> Add a book! </h1> 
    <form method="POST" action="/books/bookadded"> 
        Book Name:<input id="name" type="text" name="name"/> 
        Price:<input id="price" type="text" name="price" />
        <input type="submit" value="OK" /> 
    </form> 
</body>  
</html>
